.QR-Code {
    border-radius: 10px;
}

.container {
    background-image: url(../Images/man2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    display: flex;
    justify-content:center;
}