/* Header.css (hoặc tên file bạn đã chọn) */

/* Loại bỏ đường line dưới mỗi menu item */
.ant-menu-item {
    border-bottom: none !important;
    box-shadow: 1px 1px 1px hsla(240, 20%, 8%, 0.973);
    animation: moveDown 2s ease-in-out;
    position: relative; 
}

/* Màu chữ khi hover */
.ant-menu-item:hover {
    background-color: #ff4500;
    color: white !important;
}

/* Màu chữ khi được chọn */
.ant-menu-item-selected {
    background-color: #ff4500 !important;
    color: white !important;
}

/* Màu chữ khi được chọn và hover */
.ant-menu-item-selected:hover {
    background-color: #ff4500 !important;
    color: white !important;
    box-shadow: 1px 1px 1px hsla(240, 20%, 8%, 0.973);
    animation: moveDown 2s ease-in-out;
}