* {
    margin: 0;
    padding: 0;
}

.played-the-most {
    padding-right: 65%;
}

.game-played-the-most {
    margin-top: 50px;
}

.game-played-the-most h1 {
    padding-bottom: 20px;
}

.Update {
    padding-top: 50px;
}

.Update h1 {
    padding-bottom: 20px;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(21, 21, 21);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.footer-container {
    background-color: rgb(21, 21, 21);
    color: white;
}

.footer-heading {
    font-size: 1.8rem;
    color: #ff4500;
    padding-bottom: 10px;
}

.footer-text {
    font-size: 14px;
    margin-top: 10px;
}

.footer-divider {
    border-top: 2px solid #ff4500;
    margin: 20px 0;
}

.footer-copyright {
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 10px;
    color: #777;
}

.footer-heading:hover,
.footer-text:hover {
    color: #ff4500;
}
