* {
    margin: 0;
    padding: 0;
}

.played-the-most {
    padding-right: 65%;
}
.game-played-the-most{
    margin-top: 50px;
}

.game-played-the-most h1{
    padding-bottom: 20px;
}

.slide-img img{
    
}

.Update {
    padding-top: 50px;
}

.Update h1{
    padding-bottom: 20px;
}

.Images {
    padding-left: 38%;
    padding-top: 5px;
}

.icon {
    padding-right: 90%;
}

.footer {
    margin-top: 30px;
    padding: 20px 0 0 0;
    width: 100%;
    background-image: url(../Images/footer.jpg);
    position: absolute;
    z-index: 10000;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
}

body {
    background-color: rgb(57, 57, 57);
}