.form-login {
    border-radius: 5px;
    backdrop-filter: blur(10px);
}
.login-sigup{
    background-image: url(../Images/marvels-spider-man-3840x2160-11609.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    display: flex;
    justify-content:center;
}