* {
    margin: 0;
    padding: 0;
}

.search-bar {
    width: 200px;
    padding-top: 10px;
}

.games {
    display: flex;
    justify-content: space-around;
}

.game {
    padding-top: 50px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 1200px;
}

.card {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
}

.card-1 {
    padding-top: 5px;
}

.pagination {
    color: aliceblue;
}

.pagination a,
.pagination svg {
    color: white !important;
}

.pagination .ant-pagination-item-active a {
    color: black !important;
}

.btn-totop .anticon svg {
    color: black !important;
}

.ant-pagination-item-ellipsis {
    color: white !important;
}

.btn {
    font-family: 'Times New Roman', Times, serif;
}